@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-50 dark:bg-slate-950 text-slate-900 dark:text-white overscroll-y-none;
    font-family: 'Inter', sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .font-heading {
    font-family: 'Montserrat', sans-serif;
  }

  .font-mono {
    font-family: 'JetBrains Mono', monospace;
  }
}
